/* Border test */
/* * {
    border: 2px solid red;
} */

/* Colors
https://coolors.co/ffe4c4-9d858d-a4a8d1-a4bfeb-8cabbe */

body {
    display: flex;
    justify-content: center;
}

.calculator-body {
    height: 600px;
    width: 500px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(105, 105, 105);
}

/* Display */
.display-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-screen {
    white-space: nowrap;
    overflow: hidden;
    min-width: 0px;
    background-color: rgb(229, 229, 229);
    border: 2px solid rgb(105, 105, 105);
    margin: 5px;
    padding: 10px;
    padding-left: 30px;
    height: 55px;
    text-align: right;
    font-size: 55px;
    font-family: "Lucida Console", Courier, monospace;
}

/* Main Block */
.button-block {
    border-top: 3px solid rgb(105, 105, 105);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}


/* Number Grid */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: bisque;
    font-family: "Lucida Console", Courier, monospace;
}

button:hover {
    background-color: rgb(244, 218, 187);
}

#backspaceBtn,
#equalBtn {
    background-color: rgb(213, 184, 149);
}

#backspaceBtn:hover,
#equalBtn:hover {
    background-color: rgb(195, 169, 137);
}

#icon-img {
    height: 30px;
    width: 30px;
}

.number-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 70%;
}

.operator-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 30%;
}